doctype html 
html 
    head 
        title Tiêu đề
        link(rel="stylesheet", href="assets/css/style.css")
    body 
        //- Header
        .header  
            .inner-logo 
                img(src="assets/images/logo.jpg", alt="logo") 
            .inner-wrap
                .inner-solve 
                    .inner-desc 
                        div Thuê phòng
                        div khách sạn
                    .inner-icon 
                        img(src="assets/images/icon-header-home.svg", alt="home")
                .inner-login 
                    .inner-icon 
                        img(src="assets/images/icon-login.svg", alt="login")
                    .inner-login
                        div Đăng nhập
                .inner-register
                    button Đăng ký
                .inner-history
                    .inner-desc 
                        div Lịch sử
                        div thuê phòng
                    .inner-icon 
                        img(src="assets/images/icon-history.svg", alt="home")

                
        //- End Header 
